{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>E-RMI {% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/min.css' %}">
  </head>
  <body>
    {% include 'includes/navbar.html' %}
    <div class="container">
        {% include 'includes/messages.html' %}

        {% block content %}


        {% endblock content %}
    </div>
    <div class="container-fluid">
        {% include 'includes/footer.html' %}
    </div>





    <script src="{% static 'js/min.js' %}"></script>
  </body>
</html>