<div class="container text-center p-5">
    <img src="/static/img/img.png" alt="ai hero picture" class="shake-img" style="max-width:300px;max-height:300px;width:100%;height:100%;border-radius:100%;margin:0px auto;">
    <h1 class="p-3 shake-img">||||||||||||||||||||||||||||||||||||||||| HELLO <span class="text-warning">AI</span> WORLD |||||||||||||||||||||||||||||||||||||||||</h1>
    <hr>
    <p class="text-secondary">
        Upload ppt, pdf, docx files as knowledge material and in the background, documents that can be easily recognized by AI are created. However, this takes time...
    </p>
    <hr>
</div>