{% extends 'base/main.html' %}
{% block title %}- INDEX{% endblock title %}
{% block content %}

{% include 'includes/main_banner.html' %}

<form action="{% url 'upload' %}" method="POST" enctype="multipart/form-data" class="form-control bg-dark text-light border border-dark">
    {% csrf_token %}
    <div class="mb-3">
        <label for="files" class="form-label">Multiple files input example</label>
        <input class="form-control bg-dark text-light" type="file" id="files" name="files" multiple>
        <button type="submit" class="w-100 btn btn-warning my-3">Generate</button>
    </div>
</form>

{% endblock content %}