{% extends 'base/main.html' %}
{% block title %}- INDEX{% endblock title %}
{% block content %}

{% include 'includes/main_banner.html' %}

<div class="row">
{% for rag in rags %}
    <div class="col-lg-3 col-md-4 col-xs-6 my-2 d-flex align-items-stretch">
        <div class="card bg-dark text-light w-100">
            <h5 class="card-header"><a href="{% url 'download_rag' rag.pk %}" class="text-warning no-decoration" title="Download -> {{rag.filename}}" >{{rag.filename}}</a> </h5>
            <div class="card-body">
                <p class="card-text text-secondary">
                    {{rag.content}}
                </p>
                <p class="card-text text-light" style="font-size:0.82rem">
                    Created: <span class="text-secondary">{{rag.created_at}}</span><br>
                    Lines: <span class="text-warning">{{rag.lines}} lines</span><br>
                    Finished: <span class="text-secondary">{{rag.finished_at}}</span>
                </p>

            </div>
            <div class="card-footer text-secondary">{{rag.created_at | timesince}}</div>
        </div>
    </div>
{% empty %}
<hr>
<h3 class="text-center text-warning">Sorry, not found SUCCESS Generated RAG file </h3>
<hr>

{% endfor %}
</div>


{% if rags_not_success %}
    <hr>
    <h3 class="text-center text-danger">Generated RAG files is pending.... </h3>
    <hr>
    <div class="row">
        {% for rag in rags_not_success %}
            <div class="col-lg-3 col-md-4 col-xs-6 my-2 d-flex align-items-stretch">
                <div class="card bg-dark text-light w-100">
                    <h5 class="card-header"><a href="{% url 'download_rag' rag.pk %}" class="text-warning no-decoration" >{{rag.filename}}</a> </h5>
                    <div class="card-body">
                        <p class="card-text text-secondary">
                            {{rag.content}}
                        </p>
                        <p class="card-text text-light" style="font-size:0.82rem">
                            Created: <span class="text-secondary">{{rag.created_at}}</span><br>
                            Lines: <span class="text-warning">{{rag.lines}} lines</span><br>
                            Errors: <span class="text-warning">{{rag.errors}}</span>
                        </p>

                    </div>
                    <div class="card-footer text-secondary">{{rag.created_at | timesince}}</div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endif %}

{% endblock content %}