{% extends 'base/main.html' %}
{% block title %}- INDEX{% endblock title %}
{% block content %}

{% include 'includes/main_banner.html' %}

<div class="row">
{% for rag in rags %}
    <div class="col-lg-3 col-md-4 col-xs-6 my-2 d-flex align-items-stretch">
        <div class="card bg-dark text-light w-100">
            <h5 class="card-header"><a href="{% url 'download_rag' rag.pk %}" class="text-warning no-decoration" title="Download -> {{rag.filename}}" >{{rag.filename}}</a> </h5>
            <div class="card-body">
                <p class="card-text text-secondary">
                    {{rag.content}}
                </p>
                <p class="card-text text-light" style="font-size:0.82rem">
                    Created: <span class="text-secondary">{{rag.created_at}}</span><br>
                    Lines: <span class="text-warning">{{rag.lines}} lines</span><br>
                    Finished: <span class="text-secondary">{{rag.finished_at}}</span>
                </p>

            </div>
            <div class="card-footer text-secondary">
                <div class="row">
                    <div class="col-10">{{rag.created_at | timesince}}</div>
                    <div class="col-2 text-end">
                        <a href="{% url 'delete_rag' rag.pk %}" >
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" class="bi bi-trash3" fill="#FF0000" viewBox="0 0 16 16">
                              <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5"/>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% empty %}
<hr>
<h3 class="text-center text-warning">Sorry, not found SUCCESS Generated RAG file </h3>
<hr>

{% endfor %}
</div>


{% if rags_not_success %}
    <hr>
    <h3 class="text-center text-danger">Generated RAG files is pending.... </h3>
    <hr>
    <div class="row">
        {% for rag in rags_not_success %}
            <div class="col-lg-3 col-md-4 col-xs-6 my-2 d-flex align-items-stretch">
                <div class="card bg-dark text-light w-100">
                    <h5 class="card-header">{{rag.filename}}</h5>
                    <div class="card-body">
                        <p class="card-text text-secondary">
                            {{rag.content}}
                        </p>
                        <p class="card-text text-light" style="font-size:0.82rem">
                            Created: <span class="text-secondary">{{rag.created_at}}</span><br>
                            Lines: <span class="text-warning">{{rag.lines}} lines</span><br>
                            Errors: <span class="text-warning">{{rag.errors}}</span>
                        </p>

                    </div>
                    <div class="card-footer text-secondary">

                    <div class="row">
                        <div class="col-10">{{rag.created_at | timesince}}</div>
                        <div class="col-2 text-end">
                            <a href="{% url 'delete_rag' rag.pk %}" >
                                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" class="bi bi-trash3" fill="#FF0000" viewBox="0 0 16 16">
                                  <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5"/>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endif %}

{% endblock content %}
